<!-- =================================================
Copyright (C) 2019 The Trustees of Indiana University
SPDX-License-Identifier: BSD-3-Clause
================================================== -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <testsuites>

    <!--
        Unit Tests
    -->
    <testsuite name="unit">
      <file>tests/unit/ConfigPropertiesTest.php</file>
      <file>tests/unit/ConfigurationTest.php</file>
      <file>tests/unit/EtlExceptionTest.php</file>
      <file>tests/unit/EtlEventLogTableTest.php</file>
      <file>tests/unit/EtlLogTableTest.php</file>
      <file>tests/unit/FileUtilTest.php</file>
      <file>tests/unit/LookupTableTest.php</file>
      <file>tests/unit/LoggerTest.php</file>
      <file>tests/unit/RulesParserTest.php</file>
      <file>tests/unit/RulesSemanticAnalyzerTest.php</file>
      <file>tests/unit/SchemaGeneratorTest.php</file>

      <file>tests/unit/Database/DbConnectionFactoryTest.php</file>
      <file>tests/unit/Database/DbConnectionTest.php</file>
      <file>tests/unit/Database/CsvDbConnectionTest.php</file>
      <file>tests/unit/Database/MysqlDbConnectionTest.php</file>
      <file>tests/unit/Database/SqliteDbConnectionTest.php</file>
      <file>tests/unit/Database/SqlServerDbConnectionTest.php</file>

      <file>tests/unit/Rules/RuleTest.php</file>
      <file>tests/unit/Rules/TableRuleTest.php</file>
      <file>tests/unit/Rules/FieldRuleTest.php</file>
      <file>tests/unit/Rules/RulesTest.php</file>
      
      <file>tests/unit/Schema/FieldTest.php</file>
      <file>tests/unit/Schema/FieldTypeTest.php</file>
      <file>tests/unit/Schema/FieldTypeSpecifierTest.php</file>
      <file>tests/unit/Schema/RowTest.php</file>
      <file>tests/unit/Schema/RowsTypeTest.php</file>
      <file>tests/unit/Schema/SchemaTest.php</file>
      <file>tests/unit/Schema/TableTest.php</file>

      <file>tests/unit/RulesGeneratorTest.php</file>
    </testsuite>

    <!--
        Integration Tests
        - tests integration of REDCap-ETL classes
        - require a REDCap instance and test configuration
    -->
    <testsuite name="integration">
      <file>tests/integration/BasicDemographyTest.php</file>
      <file>tests/integration/BasicDemography2Test.php</file>
      <file>tests/integration/BasicDemographyJsonTest.php</file>
      <file>tests/integration/RedCapEtlTest.php</file>
      <file>tests/integration/RepeatingEventsTest.php</file>
      <file>tests/integration/RulesGenerationTest.php</file>
      <file>tests/integration/SchemaGeneratorGenerateSchemaTest.php</file>
    </testsuite>

    <!--
        System Tests
        - test a REDCap-ETL installed system
        - require a REDCap instance,  test configuration,
          and installation of the REDCap-ETL software on
          a server
    -->
    <testsuite name="system">
      <file>tests/system/MysqlAutoRulesTest.php</file>
      <file>tests/system/MysqlSslTest.php</file>
      <file>tests/system/MysqlTest.php</file>
      <file>tests/system/PostgreSqlTest.php</file>
      <file>tests/system/RepeatingEventsMysqlTest.php</file>
      <file>tests/system/RepeatingEventsPostgreSqlTest.php</file>
      <file>tests/system/RepeatingEventsSqliteTest.php</file>
      <file>tests/system/RepeatingEventsSqlServerTest.php</file>
      <file>tests/system/SqlServerTest.php</file>
      <file>tests/system/SqlServerAutoRulesTest.php</file>
      <file>tests/system/VisitsTest.php</file>
      <file>tests/system/VisitsCodeTest.php</file>
      <file>tests/system/VisitsSqliteCodeTest.php</file>
    </testsuite>

  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <file>src/Database/MysqlPdoDbConnection.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>

