<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <testsuites>

    <!--
        Unit Tests
    -->
    <testsuite name="unit">
      <file>tests/unit/ConfigPropertiesTest.php</file>
      <file>tests/unit/ConfigurationTest.php</file>
      <file>tests/unit/EtlExceptionTest.php</file>
      <file>tests/unit/LoggerTest.php</file>
      <file>tests/unit/RedCapDetHandlerTest.php</file>
      <file>tests/unit/RulesParserTest.php</file>
      <file>tests/unit/RulesSemanticAnalyzerTest.php</file>

      <file>tests/unit/Database/DbConnectionFactoryTest.php</file>
      <file>tests/unit/Database/DbConnectionTest.php</file>
      
      <file>tests/unit/Rules/RuleTest.php</file>
      <file>tests/unit/Rules/TableRuleTest.php</file>
      <file>tests/unit/Rules/FieldRuleTest.php</file>
      <file>tests/unit/Rules/RulesTest.php</file>
      
      <file>tests/unit/Schema/FieldTest.php</file>
      <file>tests/unit/Schema/FieldTypeTest.php</file>
      <file>tests/unit/Schema/FieldTypeSpecifierTest.php</file>
      <file>tests/unit/Schema/RowTest.php</file>
      <file>tests/unit/Schema/RowsTypeTest.php</file>
      <file>tests/unit/Schema/SchemaTest.php</file>
      <file>tests/unit/Schema/TableTest.php</file>

      <file>tests/unit/RulesGeneratorTest.php</file>
    </testsuite>

    <!--
        Integration Tests
        - tests integration of REDCap-ETL classes
        - require a REDCap instance and test configuration
    -->
    <testsuite name="integration">
      <file>tests/integration/BasicDemographyTest.php</file>
      <file>tests/integration/BasicDemography2Test.php</file>
      <file>tests/integration/BasicDemographyDeidentifiedTest.php</file>
      <file>tests/integration/BasicDemographyJsonTest.php</file>
      <file>tests/integration/RepeatingEventsTest.php</file>
      <file>tests/integration/RepeatingEventsDeidentifiedTest.php</file>
    </testsuite>

    <!--
        System Tests
        - test a REDCap-ETL installed system
        - require a REDCap instance,  test configuration,
          and installation of the REDCap-ETL software on
          a server
    -->
    <testsuite name="system">
      <file>tests/system/RepeatingEventsTest.php</file>
      <file>tests/system/VisitsTest.php</file>
      <file>tests/system/VisitsCodeTest.php</file>
      <file>tests/system/VisitsWebTest.php</file>
    </testsuite>

  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <file>src/Database/PdoMysqlDbConnection.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>

